{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section>
        <article>
            <div class="container">
                <h1>HELLO WORLD,</h1>
                {% for event in events %}
                    <div>
                        <div>Name: {{ event.name }}</div>
                        <button class="btn btn-primary"><a href="{{ path('details', {'id': event.id}) }}">Detail +</a></button>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </article>
    </section>
{% endblock %}
